body {
  margin: 0;
  font-family: 'Avenir Next', Avenir, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  background: #f4f0e7;
}

html {
  overscroll-behavior-y: none;
}

::selection {
  background: #52232b;
  color: #f4f0e7;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
