@import './Card.css';

.hand {
  min-width: 210px;
  min-height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

@media (max-width: 680px) {
  .hand {
    min-width: 170px;
    min-height: 116px;
    gap: 5px;
  }
}
